@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxanium:wght@200..800&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rowdies:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}

body {
    background: #272727 url('../img/BARBEARIA-fundo.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #272727d9; 
    z-index: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    height: 120px;
    position: relative;
    z-index: 2;
    width: 100%;

    img {
        height: 130px;
    }

    h1 {
        font-size: 1.8em;
        letter-spacing: 2px;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        margin-right: 5px;
    }
}

.form {
    position: relative;
    z-index: 2;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
        color: #fff;

        label {
            margin: auto; 
        }

        input {
            border-radius: 7px;
            width: 180px;
            height: 30px;
            margin: auto;
            outline: none;
            text-indent: 5px;
        }

        #nome {
            margin-bottom: 30px;
            margin-top: 5px;
        }

        #data{
            margin-bottom: 30px;
            margin-top: 5px;

            &::-webkit-calendar-picker-indicator {
                display: none;
            }
        }

        #horarios{
            input{
                display: none;
            }

           
        }

        .service-selection {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
           
            h1 {
                font-size: 1.3em;
                text-align: center;
            }

            #service-option {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin-top: 10px;
                cursor: pointer;
                

                label {
                    cursor: pointer;
                    margin: 0 5px;
                    background: white;
                    height: 170px;
                    border-radius: 10px;
                }

                img {
                    width: 80px;
                    display: block;
                    margin: auto;
                }

                

                p {
                    text-align: center;
                    margin-top: 5px;
                    font-size: 16px;
                    color: #333;
                }
            }
            input[type="radio"] {
                display: none;
            }
            
            
            
            
            
            
        }
    }
}
.borda-adicionada {
    border: 2px solid #ff0303;
}

